{deps, [
	{gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {tag, "0.3"}}},
	{lager, ".*", {git, "git://github.com/BartAdv/lager.git", {branch, master}}},
	%% uuid is not an app, it needs to be built (currently - manually)
	{uuid, ".*", {git, "git://gitorious.org/avtobiff/erlang-uuid.git", "master"}} ]
}.
{sub_dirs, ["engine", "fonline"]}.
